.background1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("..//Image/Vectors.png");
    background-size: 300px;
    background-position: left top;
    background-repeat: no-repeat;
    border: 2px white solid;
    margin-bottom: 10px;
}

.background2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("..//Image/Vector.png");
    background-size: 300px;
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 2px white solid;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1700px;
    height: 900px;
    background-color: white(0, 0, 0, 1);
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: auto;
    border: white;
    border-radius: 30px;
    margin: auto;
    backdrop-filter: blur(40px);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-height: 700px;
    width: 900px;
    max-width: 650px;
    min-width: 400px;
}

.btn {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    flex: 1;
    padding: 30px;
    background-color: white;
    color:  rgb(81, 78, 78);
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;
    margin-left: 20px;
    border-radius: 40px;
    height: 135px;
}

.btn:hover {
    background-color: white;
}

.row:nth-child(2) .btn, .row:nth-child(4) .btn {
    flex: 0 0 48%;
}

.rows {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    width: 280px;
}
.shifthead {
    color: rgb(81, 78, 78);
}
