*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    
}

.box{

    width: 100%;
    height: 700px;
    background-image: url(../DEMO/Image/1st\ D.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;


}
.logo{
width: 100%;
height: 50px;
display: flex;

}
.logo .logo1{

   width: 40%;
   height: 50px;
   font-size: 2em;
   color: white;
   text-align: center; 
   display: flex;
   
}

.logo .menu{
    
    width: 60%;
   height: 50px;
   

}
.menu ul{
    display: inline-flex;
    padding-top: 20px;
}
.menu ul li{

    list-style-type: none;
}

.menu ul li a{

    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 30px;
    font-weight: bold;
    

}
.menu ul li a:hover{
    background-color: pink;
}

.heading{

    width: 100%;
    height: 200px;
    margin-top: 250px;
    text-align: center;
}
.heading #p1{
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 10px;
    font-weight: bold;
}
.heading h1{
    color: rgb(12, 12, 76);
    font-size: 5em;
}

.main{

    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    
}

.main .main1{

    width: 55%;
    min-height: 200px;
    padding: 40px;
    background-color: pink;
    text-align: center;
}

.main1 h1{
    font-size: 2.5em;
    font-weight: bold;

}
.main1 h2{
font-size: 2.4em;
color:blue;
padding-bottom: 40px;
}
.main1 #p1,.main1 #p2{
    font-size: 1.6em;
    padding-bottom: 15px;
    text-align: justify;
}


.main .main2{
    width: 45%;
    height: 500px;
    background-image: url(../DEMO/Image/2ND\ D.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.whitebg{
    width: 100%;
    min-height: 400px;
    padding-top: 120px;
    text-align: center;
}
.whitebg h2{
font-size: 2.5em;
padding-bottom: 13px;
color: rgb(16, 16, 63);

}
.whitebg p{

    font-size: 1.3em;
    padding-bottom: 25px;
}
.whitebg button{
    background-color:rgb(16, 16, 63) ;
    color: white;
    padding:  10px 15px;
    font-size: 1em;
    border: none;
    
}
.picture{
    width: 100%;
    min-height: 500px;
    display: flex;
    
}
.picture .picture1{
    width: 50%;
    min-height: 400px;
    background-image:url(../DEMO/Image/3RD\ D.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.picture .picture2{
    width: 50%;
    min-height: 400px;
    background-image:url(../DEMO/Image/4th\ d.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.merge{
    width: 100%;
   min-height: 500px;
   margin-top: 20px;
   padding-top: 60px;
   
}

.merge .Box{
    width: 80%;
    min-height: 500px;
    margin: auto;

}
.Box .header{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-bottom: 70px;
}
.header .h1{
    font-size: 2.5em;
    font-weight: 530;
}
.pico{
    width: 60%;
    height: 250px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.pico .pic1,.pic2,.pic3{

    width: 270px;
    height: 250px;
    border: 1px solid #8c8989;
}
.pic1 img,.pic2 img,.pic3 img{
    width: 270px;
    height: 250px;
}
.blue_div{
    width: 100%;
    min-height: 250px;
    margin-top: 60px;
    text-align: center;
    color:white;
    background-color: #05247f;
}
.blue_div p{
    padding-top: 50px;
    font-size: 1.3em;
    padding-bottom: 30px;
}
.blue_div label{
    font-size: 1.3em;
}
.blue_div #usnm{
    width: 400px;
    height: 40px;
}
.blue_div button{
    width: 150px;
    height: 40px;
    margin-left: 20px;
    background-color: pink;
    font-size: 1.2em;
    border: none;
}
.pink_div{
    width: 100%;
    min-height: 400px;
    background-color: pink;
}
.logo2{
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 40px;
    font-size: 3em;
    text-align: center;
     


    }
.box11{
    width: 60%;
    min-height: 200px;
    background-color: pink;
    margin: auto;
    box-sizing: border-box;
    gap: 30px;
    border: 1px;
    text-align: center;
    margin-top: 100px;
    display: flex
}
.box11 .box1,.box2,.box3{
    width: 300px;
    min-height: 200px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 1.3em;
    color: #05247f;
}
.footer{
    width: 100%;
    min-height: 70px;
    background-color: #05247f;
    padding-top: 20px;
    font-size: 1.5em;
    color: white;
    text-align: center;
}




/* Media  */
/*
@ only screen and (max-width:430px) { 
    .container{
        width: 100%;
        flex-direction: column;
    }

    .box{
        width: 100%;
    }
    .logo{
        display: block;
        flex-direction: column;
        padding-left: 10px;
    }
    .logo .menu ul li{
        display: block;
        padding-left: 10px;
    }
    .main{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .picture{
        width: 100%;
        object-fit: fill;
        display: flex;
        flex-direction: column;
    }
    .pico{
        width: 100%;
        display: flex;
        flex-direction: column;
        object-fit: fill;
    } 
}*/



@media only screen and (max-width:450px){
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
       
.box{

    display: flex;
    flex-direction: column;
    }

.box .logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.6em;

}

.logo1 h1{
    text-align: center;
    font-size: 2em;
}

.logo .menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo .menu ul li{
    padding-bottom: 10px;
}

.heading #p1{
    text-align: center;
    font-size: 1.3em;
}

.heading h1{
    text-align: center;
    font-size: 2.1em;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .main1{
    width: 100%;
    }

    .main1 {
        font-size: 1.em;
    }
    
    .main1 #p2{
        font-size: 1.em;
    }
}